*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
.header {
    background-color: #21C08B;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header p {
    font-size: 2rem;
    margin-left: .5rem;
}
.header__item li {
    list-style: none;
    font-size: 1.6rem;
    display: inline-block;
    margin-right: .5rem;
}
.container {
    display: flex;
    justify-content: center;
    height: 50vh;
}

.main {
    background-color: #AB88FF;
}
.main p {
    font-size: 1.6rem;
    padding: .5rem;
}
.section {
    background-color: #8F57FD;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}
.section__box {
    background-color: #E6AF2E;
    border-radius: 1rem;
    margin: 2rem;
    width: 30rem ;
    height: 20rem;
}
.footer {
    background-color: #21C08B;
    height: 5rem;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.3rem;
}
