*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    background-color: burlywood;
    margin: 0;
    width: 100vw;
    height: 50px;
    
    
}
main {
    background-color: deeppink;
    width: 100vw;
    
}
.header p {
    width: 100px;
    position: relative;
    top: 15px;
    
}

.header__item {
    position: relative;
    list-style: none;
    text-align: end;
    
}
.header__item li {
    display: inline-block;
}
.section {
    background-color: darkolivegreen;
    display: inline-block;
    position: relative;

    
    
}
.section__box{
    background-color: chocolate;
    margin: 10px;
    width: 200px;
    height: 100px;

}
.main {
    background-color: cornflowerblue;
    display: inline-block;
    position: absolute;

    width: 80%;
    height: 400px ;
}

.footer {
    background-color: crimson;
    width: 100%;
    height: 40px;
}
