* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  header {
      background-color: darkseagreen;
      font-size: 2.5rem;
      height: 80px;
      text-align: center;
      padding-top: 15px;
  }
  .container {
      display: flex;
      flex-wrap: wrap;

  }
  .section1, .section2, .section3 {
    width: 100%;
    min-width: 150px;
    height: 100%px;
  }
  .section1{
      background-color: cornflowerblue;
  }
  .section2{
      background-color: crimson;
  }
  .section3 {
      background-color: darkgoldenrod;
  }
  .section__item {
    width: 80%;
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
    list-style: none;
  }
  .section__item img {
      width: 25%;
  }
  .section__item p {
      font-size: 3rem;
  }
  