*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #EEC76D;
    margin: 0px;
}
.section p {
    padding-left: 20px;
    padding-top: 20px;
    font-size: 4rem;

}
.section__ul {
    padding-left: 20px;
}
.section__ul__li {
    font-size: 3rem;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 10px;
}
.section__ul__li__ol li{
    font-size: 1.6rem;
    list-style: none;
    padding-top: 10px;
}

     